
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita em toda a base de dados.
    // Em um ambiente de produção, você deve restringir o acesso.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
