rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Permite acesso de leitura e escrita a todas as coleções
    // para qualquer usuário. Em um ambiente de produção,
    // restrinja o acesso conforme necessário.
    match /{document=**} {
      allow read, write: if true;
    }

    match /pacientes/{pacienteId} {
      allow read, write: if true;
    }

    match /medicos/{medicoId} {
      allow read, write: if true;
    }

    match /enfermeiros/{enfermeiroId} {
      allow read, write: if true;
    }

    match /departamentos/{departamentoId} {
      allow read, write: if true;
    }

    match /filaDeEspera/{filaId} {
      allow read, write: if true;
    }

    match /relatorios_atendimentos/{relatorioId} {
      allow read, write: if true;
    }
    
    match /chamadas/{chamadaId} {
      allow read, write: if true;
    }

    match /counters/{counterId} {
      allow read, write: if true;
    }
  }
}
